.decoderContainer {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    max-width: 512px;
    margin-top: auto;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.decoderWrapper {
    max-width: 50px;
    margin: .2em;
    flex-basis: 100%;
}

.decoderItem {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3E7CB1;
    border: 2px solid #222;
    border-radius: 6px;
    width: 100%;
    height: 3em;
}

input {
    color: #90E0EF;
    background-color: transparent;
    border: 0;
    outline: 0;
    width: 100%;
    text-align: center;
    font-size: 18px;
    caret-color: transparent;
}

input::selection {
    background-color: transparent;
}

.decoderWrapper.active div {
    background-color: #90E0EF;
    color: #222;
}

button {
    width: 100%;
    background-color: transparent;
    color: white;
    border: 2px solid #3E7CB1;
    border-radius: 6px;
    height: 40px;
    margin-top: 1rem;
    transition: all .5s;
}
button:hover {
    background-color: #222;
}