.highlighter {
    white-space: pre-wrap; /* Fix for wrapping text on small screens */
    font-size: 1.8em;
}

.highlighter .replaced {
    color: #f0f;
}

@keyframes borderBlink {    
    from, to {    
        border-color: #ddd   
    }    
    50% {    
        border-color: transparent    
    }    
} 

.highlighter .cursor {
    border-bottom: 2px solid #ddd;
    animation: borderBlink 1s step-end infinite;    
}