
.ModalBackdrop {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

.ModalContainer {
    border: 4px solid #ddd;
    border-radius: 10px;
    font-size: larger;
    background-color: #222;
    pointer-events: all;
    padding: 5px;
}

.ModalHeader {
    display: flex;
    justify-content: flex-end;
    height: 10px;
}
.ModalHeader button {
    color: #eee;
    font-size: larger;
    font-weight: bold;
    background-color: transparent;
    border: 0 none;
    cursor: pointer;
}

.ModalContent {
    padding: 20px;
}
.ModalHeader + .ModalContent {
    padding-top: 10px;
}

.ModalFooter button {
    outline: none;
    border: 1px solid darkgray;
    padding: 10px;  
    min-width: 100px;
    margin: 10px;
    cursor: pointer;
}