
.siteTitle {
    margin: 0 auto 0 0;
    padding: 0;
}

.siteHeader {
    display: flex;
    flex-direction: row;
    background-color: #222;
    padding: 1em;
    justify-content: flex-end;
    align-items: center;
}

.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.menu li {
    margin: 0 5px;
}

.menu li a { 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: all 0.5s;
}

.menu li a:hover {
    background-color: #555;
}

.menu li a:active::after {
    content: '';
    border-bottom: 1px solid white;
}