.decoderContainer {
    position: relative;
    width: 100%;
}

.decoderInput,
.decoderOutput {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: 0;
    outline: 0;
    resize: none;
    font-size: 1.8em;
    color: #ddd;
    text-align: center;
    overflow: visible;
    word-wrap: break-word;
}

.decoderInput {
    color: transparent;
    caret-color: #ddd;
}

.decoderOutput {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    white-space: pre-wrap; /* Fix for wrapping text on small screens */
}

.decoderOutput .replaced {
    color: #f0f;
}