
body {
  color: #ddd;
  background-color: #303030;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

main {
  padding: 1rem;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}